@import '../../constants';

.root {
  background-color: $gray-300;
  padding: $space-2 5%;
}

.btn {
  right: $space-1;
  top: 4px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent;

  &:focus {
    box-shadow: 0px 0px 5px #2fa4e7;
  }
}

.icon {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
