.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-bottom: 16px;
  }
}
