$space: 8px;

.fileRecord {
  display: flex;
  padding: $space;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  &:last-child {
    border-bottom: none;
  }
}

.fileName {
  display: inline-block;
  margin: 0 $space;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fileStatus {
  display: block;
  margin: 0 $space;
  line-height: 1;
}

.preview {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
  object-fit: contain;
}

.btnPlaceholder {
  display: inline-block;
  width: 40px;
  height: 30px;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
