.root {
  max-width: 760px;
}

.dropZoneContainer {
  padding: 4px;
  border: 1px solid #dddddd;
}

.dropZone {
  text-align: center;
  padding: 16px;
}

.dropZoneActive {
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #dddddd 10px,
    #dddddd 20px
  );
}

.input {
  &:focus ~ label {
    outline: 3px solid #178acc;
  }
}

.dropZoneLabel {
  pointer-events: none;
  margin-bottom: 10px;
}
