.image {
  padding-top: 100%;
}

.image picture,
.image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur {
  filter: blur(5px);
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
